@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-text: 'Montserrat';
$font-title: 'Montserrat';

html,
body {
    padding: 0;
    margin: 0;
    font-family: $font-text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    // scroll-behavior: smooth;
    background-color: #121212;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-text, serif;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    font-family: $font-title, serif;
    font-weight: 700;
    letter-spacing: 0px;
}
h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

a {
    color: inherit;
    text-decoration: none;
    &:active {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        outline: none;
        text-decoration: none;
    }
    &:focus {
        outline: none;
        text-decoration: none;
    }
}

/*///////////////////////////////////////////////////////////////////////////////////////////// */
/*                                                                                              */
/* locomotive-scroll v3.3.5 | MIT License | https://github.com/locomotivemtl/locomotive-scroll  */
/*                                                                                              */
/*///////////////////////////////////////////////////////////////////////////////////////////// */

html.has-scroll-smooth {
    overflow: hidden;
}
html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.has-scroll-smooth body {
    overflow: hidden;
}
.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}
.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}
.c-scrollbar:hover {
    transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
    opacity: 1;
}
.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 0px;
    cursor: -webkit-grab;
    cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////// */
