@import "./theme.scss";

.container {
    max-width: $container-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar  main";
    @include media($tablet) {
        grid-template-columns: 1fr 3fr;
    }
    @include media($desktop) {
        grid-template-columns: 1fr 3fr;
    }
    @include media($big-desktop) {
        grid-template-columns: 1fr 4fr;
    }
    padding-bottom: $footer-height;
}

.sidebar {
    grid-area: sidebar;
    background-color: #662323;
}

.main {
    min-height: calc(100vh - 100px);
    grid-area: main;
    background-color: white;
}

.footer {
    margin: 0 auto;
    max-width: $container-width;
    height: $footer-height;
    background-color: #EB5757;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1000;
}

.Logo {
    padding: 3rem 2.5rem 1.5rem 2.5rem;
    img {
        width: 100%;
    }
}

.topbar {
    width: 100%;
    padding: 2.5rem;
    @include media($big-desktop) {
        padding: 2.5rem  4.5rem;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        width: 100%;
        &:first-child {
            width: 62%;
        }
        &:last-child {
            width: 38%;
        }
    }
}

.Playlist, .Library {
    h2 {
        font-size: 20px;
        font-weight: 500;
        padding: 0.05rem 2.5rem;
    }
    color: white;
    font-weight: 300;
    ul {
        padding: 0.5rem 2.5rem 1.2rem 2.5rem;
        list-style-type: none;
        li {
            position: relative;
            font-size: 15px;
            padding: 0.2rem 0;
            &::before {
                content: "";
                display: block;
                width: 0.35em;
                height: 80%;
                background-color: none;
                position: absolute;
                top: 10%;
                left: -2.5rem;
            }
            &:hover {
                color: $main-color;
                font-weight: 500;
                cursor: pointer;
                &::before {
                    background-color: $main-color;
                }    
            }
        }
    }
}

.Results {
    margin: 2rem auto;
    width: calc(100% - 5rem);
    @include media($big-desktop) {
        width: calc(100% - 9rem);
    }
    h2 {
        font-size: 1.3rem;
        font-weight: 600;
        color: $main-color;
    }
}

.Songs, .Albums {
    margin: 2rem auto;    
    width: calc(100% - 5rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    @include media($big-desktop) {
        width: calc(100% - 9rem);
    }
    @include media($tablet) {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.9rem;
    }
    @include media($desktop) {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.8rem;
    }
    @include media($big-desktop) {
        grid-template-columns: repeat(5, 1fr);
        gap: 1.8rem;
    }
}

