@import "./theme.scss";

$footer-height: 100px;

.container {
    min-height: calc(100vh - 100px);
    max-width: $container-width;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "sidebar  main   main   main";
    // background-color: hotpink;
    @include media($tablet) {
        // background-color: lightgreen;
    }
    @include media($desktop) {
        // background-color: lemonchiffon;
    }
}

.main {
    grid-area: main;
    border: 1px dashed blue;
}

.sidebar {
    grid-area: sidebar;
    border: 1px dashed yellow;
}

.footer {
    margin: 0 auto;
    max-width: $container-width;
    border: 1px dashed green;
    height: $footer-height;
}